*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}

body {
  transition: all 0.17s;
}

.title {
  font-weight: 1000px;
  font-size: 68px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 32px;
  color: #264653;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width: 75%;
  padding: 24px;
  background-color: red;
  border-radius: 24px;
  display: flex;
  justify-content: space-evenly;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.btn-reset {
  padding: 12px 24px;
  margin-top: 24px;
  cursor: pointer;
  border-radius: 12px;
  color: white;
}


.charcoal {
  background-color: #264653;
}
.persian-green {
  background-color: #2a9d8f;
}
.saffron {
  background-color: #e9c46a;
}
.sandy-brown {
  background-color: #f4a261;
}
.burnt-sienna {
  background-color: #e76f51;
}
.white {
  color: white;
}
